@model IEnumerable<MyShoppingList.Models.ITEM>

@{
    ViewBag.Title = "Index";
}

<h2>Items List</h2>

<p>
    @Html.ActionLink("Add New Item", "Create")
</p>
<table id="ShoppingLists" class="table table-bordered table-striped" border="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.item1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.size)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>*@
        </tr>
    }

</table>
